<div class="card pl-4 mb-3 inline-block w-auto">
    <p-card header="Roles" subheader="Gestion de roles de usuario" class="w-auto h-auto">
        <ng-template pTemplate="header" class="bg-blue-200 hover:bg-blue-300">
            <img alt="Card" src="../../../assets/images/Intrusion-Prevention.svg" class="h-10rem"/>
        </ng-template>
        <ng-template pTemplate="footer" class="surface-500">
            <p-button label="Nuevo" severity="success" class="pr-2" [outlined]="true" (onClick)="gestRol('new')"></p-button>
            <p-button label="Actualizar" severity="warning" class="pr-2" [outlined]="true" (onClick)="gestRol('update')"></p-button>
            <p-button label="Eliminar" severity="danger"  [outlined]="true" (onClick)="gestRol('delete')"></p-button>
        </ng-template>
    </p-card>
</div>

<div class="card pl-4 mb-3 inline-block w-auto">
    <p-card header="Equipamiento" subheader="Gestion de Equipamientos" class="w-auto h-auto">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/Omnichannel.svg" class="h-10rem"/>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Nuevo" severity="success" class="pr-2" [outlined]="true" (onClick)="gestEqp('new')"></p-button>
            <p-button label="Actualizar" severity="warning" class="pr-2" [outlined]="true" (onClick)="gestEqp('update')"></p-button>
            <p-button label="Eliminar" severity="danger"  [outlined]="true" (onClick)="gestEqp('delete')"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="card pl-4 inline-block w-auto">
    <p-card header="Salas" subheader="Gestion de Salas" class="w-auto h-auto">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/Meeting.svg" class="h-10rem"/>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Nuevo" severity="success" class="pr-2" [outlined]="true"></p-button>
            <p-button label="Actualizar" severity="warning" class="pr-2" [outlined]="true"></p-button>
            <p-button label="Eliminar" severity="danger"  [outlined]="true"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="card pl-4 inline-block w-auto">
    <p-card header="Usuarios" subheader="Gestion de usuarios" class="w-auto h-auto">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/Person-Leader.svg" class="h-10rem"/>
        </ng-template>
        <ng-template pTemplate="footer">
            <!--p-button label="Nuevo" severity="success" class="pr-2" [outlined]="true" (onClick)="gestUser('new')"></p-button-->
            <p-button label="Consulta" severity="primary" class="pr-2" [outlined]="true" (onClick)="gestUser('consusr')"></p-button>
            <p-button label="Modificación" severity="success"  [outlined]="true" (onClick)="gestUser('delete')"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="card pl-4 inline-block w-auto">
    <p-card header="Reservas" subheader="Gestion de Reservas" class="w-auto h-auto">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/Agenda-Calendar.svg" class="h-10rem"/>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Nuevo" severity="success" class="pr-2" [outlined]="true"></p-button>
            <p-button label="Actualizar" severity="warning" class="pr-2" [outlined]="true"></p-button>
            <p-button label="Eliminar" severity="danger"  [outlined]="true"></p-button>
        </ng-template>
    </p-card>
</div>
