<div class="ml-7">
    <h1>{{titulo}}</h1>
</div>
<div class="grid">
    
    <div class="ml-7 col">
        <p-fieldset legend="Datos de Rol" >
            <form [formGroup]="rolForm" (ngSubmit)="onSubmit()">  
                <div class="field grid">
                    <label for="idrol" class="col-fixed" style="width:150px">Identificador</label>
                    <div class="col">
                        <input id="idrol" formControlName="idRol" type="text" pInputText 
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"/>
                    </div>
                </div>    
                <div class="field grid">
                    <label for="namerol" class="col-fixed" style="width:150px">Denominacion</label>
                    <div class="col">
                        <input formControlName="nombreRol" id="namerol" type="text" 
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
                            [disabled]=disabled>
                    </div>
                </div>
                <div class="field grid">
                    <label for="descricionRole" class="col-fixed" style="width:150px">Descripcion</label>
                    <div class="col">
                        <textarea formControlName="descripcionRol" id="descricionRole" rows="5" cols="30" pInputTextarea class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"></textarea>
                    </div>
                </div>
                <div class="p-3">
                    <p-button [text]="true" [raised]="true" type="submit" [disabled]="disabled">{{name}}</p-button>
                    <p-button label="Volver" [text]="true" [raised]="true" severity="secondary" class="pl-3" (onClick)="volver()"></p-button>
                    <!--button class="button" type="submit" [disabled]="disabled">{{name}}</button-->
                </div>
            </form>
            <p-messages></p-messages>
    </p-fieldset>
    </div>
    
        <div class="card flex ml-7 mb-5 col" >
            <p-fieldset legend="Busqueda de Rol" [hidden]="hidden">
                <p-listbox [options]="roles" [(ngModel)]="selectedRol" optionLabel="option" (onChange)="rolSeleccionado(selectedRol)" optionLabel="nombreRol" [filter]="true" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}" [hidden]="hidden"></p-listbox>
            </p-fieldset>
        </div>
    
</div>
